# Definir la cantidad de partes en las que se dividirá la imagen 
FRAGMENTS_COUNT=3

# Host y puerto donde escucha el servidor redis
REDIS_PORT=6379
REDIS_HOST=redis

# Endpoint para interactuar con el servicio de split de imágenes
SPLIT_SERVICE_URL=http://split-service:5000/api/split

# Nombre del bucket GCP donde se subirán los fragmentos de imagen
BUCKET_NAME=sobel

# Host donde se está ejecutando rabbit
RABBITMQ_HOST=rabbit
# Nombre de usuario y password para usar de credenciales en rabbitmq
RABBITMQ_USER=rabbituser
RABBITMQ_PASSWORD=rabbitpassword