# Definir la cantidad de partes en las que se dividirá la imagen (probablemente este valor dependa de la cantidad de workers que se inicien)
FRAGMENTS_COUNT=6
# Puerto donde escucha el servidor redis
REDIS_PORT=6379
# Host donde se encuentra el servidor redis
REDIS_HOST="localhost"