# Definir la cantidad de partes en las que se dividirá la imagen (probablemente este valor dependa de la cantidad de workers que se inicien)
FRAGMENTS_COUNT=6

# Puerto donde escucha el servidor redis
REDIS_PORT=6379
# Host donde se encuentra el servidor redis
REDIS_HOST="localhost"

# Endpoint para interactuar con el servicio de split de imágenes
SPLIT_SERVICE_URL=http://split-service:5000/api/split
